.container {
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.w1000 {
    width: 1000px;
}
.w250 {
    width: 250px;
}
.w240 {
    width: 240px;
}
.w750 {
    width: 750px;
}
.h200 {
    height: 200px
}
.h410 {
    height: 410px;
}
.h200 {
    height: 200px;
}
.h150 {
    height: 150px;
}

.mar-bot {
    margin-bottom: 10px;
}
.body {
    display: flex;
}
.col-gap {
    column-gap: 10px;
}
.dis-col {
    display: flex;
    flex-direction: column;
}

.left-bottom-part {
    display: flex;
    justify-content: space-between;
}

.bg {
    background-color: gray;
}
.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}